/* You can add global styles to this file, and also import other style files */

html {
    height: -webkit-fill-available;
    width: -webkit-fill-available;
}

body {
    background-image: linear-gradient(to bottom, hsl(214, 47%, 23%), hsl(237, 49%, 15%));
    height: -webkit-fill-available;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-weight: 600;
    margin: 0.5rem;
}