<header>
    <div id="container">
        <img src="../assets/images/logo.svg" alt="Rock, Paper and Scissors" id="logo">
        <div id="score-container">
            <div id="vertical-align">
                <label id="score-header">SCORE</label>
                <label id="score-points">12</label>
            </div>
        </div>
    </div>
</header>

<main>
    <home (isMenuEvent)="setMenuValue($event)" *ngIf="isMenu"></home>
    <game (isMenuEvent)="setMenuValue($event)" *ngIf="!isMenu"></game>

    <button type="button" id="btnRules" (click)="open(content)">RULES</button>

    <ng-template #content let-modal>
        <div class="modal-header">
            <h4>RULES</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
        </div>
        <div class="modal-body">
            <img src="../assets/images/image-rules.svg" alt="Image Rules">
        </div>
    </ng-template>
</main>