/* ######################### Elements defined by tag #########################  */

main {
    position: relative;
    height: calc(100% - 9.6rem);
}

button {
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center;
}


/* ######################### Elements defined by class #########################  */

.btnIcon {
    border: 1rem solid transparent;
    border-radius: 4rem;
    border-width: 0;
    background-color: white;
    padding: 4rem;
}

.btn-container {
    display: inline-block;
    padding: 1.2rem;
    border-radius: 9rem;
    position: absolute;
}

.modal-body {
    text-align: center;
}

.modal-header {
    border: 0;
}


/* ######################### Elements defined by id #########################  */

#container {
    width: 50%;
    border-radius: 2rem;
    border: .2rem solid hsl(217, 16%, 45%);
    padding: 2rem;
    margin: 0 auto 0;
}

#score-container {
    display: table;
    background-color: white;
    text-align: center;
    padding: 0.2rem 2rem 0.2rem;
    border-radius: .5rem;
    width: auto;
    height: 4.8rem;
    float: right;
}

#vertical-align {
    display: table-cell;
    vertical-align: middle;
    line-height: 1.1;
    letter-spacing: .1rem;
}

#score-header {
    color: hsl(229, 64%, 46%);
    font-size: .8rem;
}

#score-points {
    color: hsl(229, 25%, 31%);
    display: block;
    font-size: 3rem;
    font-weight: bold;
}

#logo {
    width: auto;
    height: 5rem;
}

#btnRules {
    position: absolute;
    top: calc(100% - 3.5rem);
    right: 0;
    border-radius: 1rem;
    border: .2rem solid hsl(217, 16%, 45%);
    background-color: transparent;
    color: white;
    padding: .8rem 2rem;
    font-family: 'Barlow Semi Condensed', sans-serif;
}