<img src="../assets/images/bg-triangle.svg" alt="Triângulo" id="imgTriangle">
<div class="btn-container" id="btnPaper-container">
    <button type="button" class="btnIcon" id="btnPaper" (click)="chooseHand('paper')"></button>
</div>
<div class="btn-container" id="btnScissors-container">
    <button type="button" class="btnIcon" id="btnScissors" (click)="chooseHand('scissors')"></button>
</div>
<div class="btn-container" id="btnRock-container">
    <button type="button" class="btnIcon" id="btnRock" (click)="chooseHand('rock')"></button>
</div>