/* ######################### Elements defined by tag #########################  */

button {
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center;
}


/* ######################### Elements defined by class #########################  */

.btnIcon {
    border: 1rem solid transparent;
    border-radius: 4rem;
    border-width: 0;
    background-color: white;
    padding: 4rem;
}

.btn-container {
    display: inline-block;
    padding: 1.2rem;
    border-radius: 9rem;
    position: absolute;
}


/* ######################### Elements defined by id #########################  */

#imgTriangle {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#btnPaper-container {
    background-image: linear-gradient(to bottom, hsl(230, 89%, 62%), hsl(230, 89%, 65%));
    left: calc(50% - 14.73rem);
    top: calc(50% - 12.86rem);
}

#btnScissors-container {
    background-image: linear-gradient(to bottom, hsl(39, 89%, 49%), hsl(40, 84%, 53%));
    left: calc(50% + 9.53rem - 5.2rem);
    top: calc(50% - 12.86rem);
}

#btnRock-container {
    background-image: linear-gradient(to bottom, hsl(349, 71%, 52%), hsl(349, 70%, 56%));
    left: calc(50% - 5.2rem);
    top: 56%;
}

#btnPaper {
    background-image: url(../../assets/images/icon-paper.svg);
}

#btnScissors {
    background-image: url(../../assets/images/icon-scissors.svg);
}

#btnRock {
    background-image: url(../../assets/images/icon-rock.svg);
}

#btnRules {
    position: absolute;
    top: calc(100% - 3.5rem);
    right: 0;
    border-radius: 1rem;
    border: .2rem solid hsl(217, 16%, 45%);
    background-color: transparent;
    color: white;
    padding: .8rem 2rem;
    font-family: 'Barlow Semi Condensed', sans-serif;
}