<div class="divHands">
    <label class="label-style" id="lblHuman">YOU PICKED</label>
    <div class="btn-container humanHand" [id]="divIdForHand">
        <span class="btnIcon" [id]="btnIdForHand"></span>
    </div>
</div>

<div class="divHands" id="divResults">
    <label id="lblResults">YOU WIN</label>
    <button type="button" id="btnPlayAgain" (click)="playAgain()">PLAY AGAIN</button>
</div>

<div class="divHands" id="divCpuHand">
    <label class="label-style" id="lblHouse">THE HOUSE PICKED</label>
    <div class="btn-container cpuHand" [id]="divIdCpuHand">
        <span class="btnIcon btnHouse" [id]="btnIdCpuHand"></span>
    </div>
</div>