/* ######################### Elements defined by tag #########################  */

span {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 6rem;
    display: block;
}

label {
    letter-spacing: 0.125rem;
    position: absolute;
    font-size: 1.5rem;
}


/* ######################### Elements defined by class #########################  */

.label-style {
    color: white;
}

.divHands {
    display: inline-block;
    position: absolute;
    width: 40%;
    height: 100%;
}

.btnIcon {
    border: 1rem solid transparent;
    border-radius: 6rem;
    border-width: 0;
    background-color: white;
    padding: 6rem;
}

.btn-container {
    display: inline-block;
    padding: 1.2rem;
    border-radius: 9rem;
    position: absolute;
}

.humanHand {
    top: 25%;
    right: 0;
}

.cpuHand {
    top: 25%;
    background-color: hsl(223, 47%, 16%);
}

.btnHouse {
    background-color: transparent;
}


/* ######################### Elements defined by id #########################  */

#btnPaper-container {
    background-image: linear-gradient(to bottom, hsl(230, 89%, 62%), hsl(230, 89%, 65%));
    /* left: calc(50% - 14.73rem); */
    /* top: calc(50% - 12.86rem); */
}

#btnScissors-container {
    background-image: linear-gradient(to bottom, hsl(39, 89%, 49%), hsl(40, 84%, 53%));
    /* left: calc(50% + 9.53rem - 5.2rem); */
    /* top: calc(50% - 12.86rem); */
}

#btnRock-container {
    background-image: linear-gradient(to bottom, hsl(349, 71%, 52%), hsl(349, 70%, 56%));
    /* left: calc(50% - 5.2rem); */
    /* top: 56%; */
}

#btnPaper {
    background-image: url(../../assets/images/icon-paper.svg);
    background-color: white;
}

#btnScissors {
    background-image: url(../../assets/images/icon-scissors.svg);
    background-color: white;
}

#btnRock {
    background-image: url(../../assets/images/icon-rock.svg);
    background-color: white;
}

#lblHuman {
    top: calc(25% - 3rem);
    right: 3.04rem;
}

#lblHouse {
    top: calc(25% - 3rem);
    left: .52rem;
}

#divResults {
    width: 20%;
    left: 40%;
    color: white;
}

#divCpuHand {
    left: 60%;
}

#lblResults {
    font-size: 2rem;
    top: 25%;
    width: 100%;
    text-align: center;
}

#btnPlayAgain {
    width: 70%;
    text-align: center;
    background-color: white;
    border-radius: .3rem;
    border: none;
    border-width: 0;
    padding: .5rem;
    position: absolute;
    top: calc(25% + 3rem);
    left: calc(25% - 1.65rem);
}